.Card {
    border: 1px solid #aabee6;
    background-color: #c0cfee;
    border-radius: 15px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 100px;
    margin-top: 30px;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
}
  
.Nav-Bar {
    padding: 20px;
    margin: 0 auto;
    padding-right: 100px;
    background-color: #d1def5;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #473f65;
    font-weight: 700;
    flex-flow: row wrap;
    display: flex;
    gap: 2rem;
}

.Pagination{
    display: flex;
    justify-content: center;
    width: 123%;
    height: 1px;
    margin-top: 270px;
}

.Label1{
    text-align: right;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.Icon{
    float: "right";
    color: black;
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 25px;
    padding: auto;
}

.Link{
    color: skyblue;
    padding-left: 17%;
    margin-top: -24px;
    font-size: large;
}

.QR{
    color: black;
    padding-left: 120%;
    margin-top: -23px;
    font-size: larger;
}

.Linie{
    border: none;
    width: 123%;
    height: 1px;
    margin-top: 10px;
    background-color: black;
}

.Linie1{
    border: none;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 90px;
    background-color: #473f65;
}

.container{
    height: 30px;
    margin-left: 220px;
    display: flex;
    justify-content: left;
    align-items: normal;
}

.Text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #473f65;
    font-size: xx-small;
}

.Delimitation {
    background-color: #473f65;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}