body {
    padding: 0;
    margin: 0;
    background-color: #d1def5;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Nav-Bar {
    padding: 20px;
    margin: 0 auto;
    padding-right: 100px;
    background-color: #d1def5;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #473f65;
    font-weight: 700;
    flex-flow: row wrap;
    display: flex;
    gap: 2rem;
  }
  
  .LoginPhoto {
    background-color: #d1def5;
    padding-top: 40px;
    padding-right: 80px;
    float: right;
  }
  
  .Welcome {
    padding-top: 100px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 25px;
    padding-left: 35px;
    padding-top: 60px;
  }
  
  .Poza img {
    max-width: 90%;
    max-height: auto;
    float: right;
  }
  
  .LoginPage {
    display: flex;
    text-align: left;
    flex-basis: auto;
    margin-right: auto;
    
  }
 
  .Semnatura {
    text-align: center;
    padding-top: 20px;
  }
  
.Split {
  display: flex;
  height: 100vh;
}

.LeftColumn {
  flex: 1;
  background-color: #f0f0f0;
}

.RightColumn{
  flex: 1;
  background-color: #dcdcdc;
}

  .Container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .Login-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .Left-side{
      margin: 2rem 2rem;
      height: 80%;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      

  }
  .Input{
    display: block;
    border: none;
    height: 2rem;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0.2rem;
    border-radius: 15px;
    margin: 15px;
    background-color: #B0C2E8;
    font-size: 15px;
   
  }
  .Focus{
    outline: none;
    border: none;
  }
.LoginButton {
  margin-bottom: 35px;
  margin-top: 10px;
  margin-left: 50px;
    margin-right: 150px;
  background-color: #d1def5;

  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
  font-size: 17px;

}

.RegisterButton {
  margin-right: 20px;
  background-color: #d1def5;
  
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
  font-size: 17px;

}

.Label{
  display: block;
  text-align: left;
  width: 70%;
  margin:auto;
  font-size: small;
  color: gray;
  margin-bottom: 0.5rem;
  font-size: 15px;
}
.SubmitButton{
  margin-top: 10px;
    margin-left: 30%;
    background-color: #B0C2E8;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 6px;
    width: 20%;
    border-radius: 10px;
    border: groove;
    font-size: 15px;
}
.SubmitButton:Hover{
  outline: 0.5px solid rgb(99, 187, 222);
  box-shadow: 2px 2px 9px -1px rgb(99, 187, 222);
  opacity: 0.8;
}
  .Right-side{
    margin: 2rem 2rem;
   
    height: 90%;
    width: 100%;
  }
  .Button {
    padding: 10px;
    font-size: 1.2em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }


  .Text {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    font-size: 17px;
    padding-bottom: 400px;
  }
  .Inf1 {
    position: relative;
    top: 25px;
  }
  
  .Home {
    position: relative;
    top: 25px;
    text-decoration: none;
  }
  
  .Contact-Us {
    position: relative;
    top: 25px;
    text-decoration: none;
  }
  
  .Login_Register {
    position: relative;
    top: 15px;
  }
  
  .Inf2 {
    position: relative;
    top: -10px;
    left: 15px;
    text-decoration: none;
  }
  .Delimitation {
    background-color: #473f65;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .formClass{
    display: block !important;
  }