.a {
  border: 1px solid #aabee6;
  background-color: #c0cfee;
  border-radius: 15px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 100px;
  margin-top: 30px;
  box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
}

.spatiere {
  padding-bottom: 100px;
}

.container1 {
  text-align: center;
}

.container2 {
  text-align: center;
}

.Title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  margin-left: 3.8em;
  margin-bottom: -0.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.dynamicFields {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  margin-left: 3.8em;
  font-family: Arial, Helvetica, sans-serif;
}

.TextField {
  margin-left: -4.9em;
  margin-bottom: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -4.5rem;
  margin-bottom: 1.4em;
}
.btn {
  padding-top: 10px;
}
.buttonsOpt {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.buttons > button {
  margin: 0 30px;
}

.scan_document {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -10px;
  padding-top: 20px;
}

.data_retention {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 62px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
}

.sectionsName {
  justify-content: left;
  align-items: left;
  margin-left: -14em;
  margin-bottom: -0.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.it3 {
  margin-left: 10px;
  width: 180px;
}
.it {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -6.2rem;
}

.Buttondis {
  margin-inline-start: 8rem;
}

.Placeholder {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 187px;
  font-family: Arial, Helvetica, sans-serif;
}

.PlaceHolderKeyword {
  margin-inline-start: 1.3rem;
}

.deleteButton {
  margin-left: 5em;
  margin-bottom: 2rem;
}

.it1 {
  margin-left: 10px;
}

.madatory {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 87px;
  font-family: Arial, Helvetica, sans-serif;
}

.CheckBut {
  margin-inline-start: 5rem;
}

.field_type {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 86px;
  font-family: Arial, Helvetica, sans-serif;
}

.selectTyp {
  margin-inline-start: 5.4rem;
}
.options {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 5.7rem;
}

.document {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 103px;
  font-family: Arial, Helvetica, sans-serif;
}

.DocKey {
  margin-inline-start: 1.6rem;
}

.interor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.int2 {
  margin-left: -4em;
  margin-bottom: 1em;
  margin-top: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 26.5rem;
}
.int3 {
  margin-left: 100px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.Create {
  text-align: center;
  position: relative;
  bottom: 50px;
}
