.form {
  padding-top: 100px;
  text-align: right;
  width: 500px;
}

.form-completion {
  background-color: #c0cfee;
  border: 1px solid #aabee6;
  border-radius: 15px;
  padding: 30px;
}

.SectionName {
  text-align: left;
  text-decoration: underline;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.Pozitionare {
  text-align: right;
}
.p-inputtext-sm {
  height: 40px;
  width: 250px;
}

.DynamicField_Key {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Scann {
  padding-top: 20px;
  text-align: right;
  margin-right: 13px;
}
