
.pdf {
  height: 400px;
  width: 550px;
}

.ContainerFirst {
  text-align: center;
  padding: 40px;
  padding-top: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Position {
  padding-top: 10px;
}